<div id="<%= dom_id book %>">

  <div class="each-book">

      <% if book.cover_id %>
       <%= image_tag book.cover_id, alt:"default_book.png", class: " rounded book-image" %>
     <% else %>
       <%= image_tag "default_book.png", class: "rounded book-image" %>
      <% end %>


  <h5>
    
    <%= book.title %>
  </h5>

  <p>
    
    <%= book.author %>
  </p>

  <p>
    
    <%= book.publication_year %>
  </p>

</div>
